.card {
  background-color: white;
  color: var(--primary);
  padding: 20px;
  padding-bottom: 40px;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgb(0 0 0 / 20%);

  @media (max-width: calc(800px + ($viewport-padding-x * 2))) {
    & {
      margin: calc(var(--viewport-padding-x) * -1);
      border-radius: 0;
    }
  }

  .card-breadcrumbs {
    margin-bottom: 20px;
  }

  .card-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    h1 {
      flex: 1;
      font-size: 1.8rem;
      font-weight: 400;
    }

    h2 {
      flex: 1;
      font-size: 1.4rem;
      font-weight: 600;
    }
  }
}
