.scope {
  display: flex;
  background-color: var(--darkblue);
  height: 48px;
  color: white;
  padding: 0;
  padding-left: var(--viewport-padding-x);
  padding-right: calc(var(--viewport-padding-x) - 100vw + 100%);

  :global {
    .title {
      a {
        color: inherit;
        text-decoration: none;
      }

      h1 {
        font-size: 1.8rem;
        font-weight: 600;
        padding-top: 2px;
      }

      .logo {
        margin-bottom: -6px;
        margin-right: 2px;
      }
    }

    .navigation-drawer-button {
      display: none;

      @media (max-width: 600px) {
        & {
          display: initial;
          padding-right: 6px;
        }
      }
    }

    .navigation-bar {
      display: flex;

      @media (max-width: 600px) {
        & {
          display: none;
        }
      }
    }

    .widgets {
      display: flex;
      margin-left: auto;

      & > * {
        display: flex;
      }
    }

    .link {
      display: flex;
      align-items: center;
      color: inherit;
      font-size: 1.3rem;
      margin-left: 30px;

      &:hover {
        text-decoration: none;
        border-top: 3px solid transparent;
        border-bottom: 3px solid white;
      }
    }
  }
}
