.SessionWidget .session-menu-toggler {
  margin-right: -12px;
}

.SessionWidget .avatar {
  width: 24px;
  height: 24px;
  background-color: white;
  color: var(--darkblue);
}

.MuiMenu-paper.session-menu {
  overflow: visible;
  margin-top: 12px;
  margin-left: -7px;
}

.MuiMenu-paper.session-menu::before {
  content: '';
  display: block;
  position: absolute;
  right: 14px;
  width: 10px;
  height: 10px;
  background-color: inherit;
  transform: translateY(-50%) rotate(45deg);
}

.MuiMenu-paper.session-menu .MuiMenuItem-root {
  min-height: auto;
}
