.Question .field input.question-label {
  width: 100%;
  padding: 10px;
  font-size: 1.4rem;
}

.Question .options {
  display: flex;
  flex-direction: column;
  max-width: 210px;
  margin-top: 20px;
}

.Question .options .option {
  display: flex;
  align-items: center;
  margin: 2px 0;
}

.Question .options .option input[type='radio'] {
  margin-right: 10px;
}

.Question .options .option .option-label {
  padding: 5px;
  flex: 1;
}

.Question .options .field .helper {
  margin-left: 23px;
}

.Question .actions {
  display: flex;
  margin-top: 20px;
}

.Question .actions button + button {
  margin-left: 10px;
}

.Question .actions .red {
  margin-left: auto;
}
