:root {
  /* layout */
  --viewport-padding-x: $viewport-padding-x;

  /* color palette */
  --blue: #0079bf;
  --green: #519839;
  --yellow: #faa53d;
  --red: #b04632;
  --darkblue: #005c91;

  /* semantic colors */
  --primary: #666;
  --disabled: #999;
  --app-background-color: #eee;
}
