article {
  padding-top: 20px;
  padding-bottom: 40px;

  /* @media (max-width: calc(800px + (var(--viewport-padding-x) * 2))) { */
  @media (max-width: 840px) {
    & {
      padding-bottom: 0;
    }
  }
}

a {
  color: var(--darkblue);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.button {
  cursor: pointer;
  background-color: white;
  color: var(--primary);
  border: 1px solid var(--primary);
  min-height: 27px;
  margin: 2px 0;
  padding: 5px;
  border-radius: 5px;

  &:hover {
    border-color: var(--primary);
    color: white;
    background-color: var(--primary);
  }

  &.large {
    height: 40px;
    font-size: 1rem;
    padding: 10px;
  }

  &.blue {
    border-color: var(--blue);
    color: var(--blue);

    &:hover {
      border-color: var(--blue);
      color: white;
      background-color: var(--blue);
    }
  }

  &.green {
    border-color: var(--green);
    color: var(--green);

    &:hover {
      border-color: var(--green);
      color: white;
      background-color: var(--green);
    }
  }

  &.red {
    border-color: var(--red);
    color: var(--red);

    &:hover {
      border-color: var(--red);
      color: white;
      background-color: var(--red);
    }
  }

  &[disabled],
  &[disabled]:hover {
    background-color: white !important;
    color: var(--disabled) !important;
    border-color: var(--disabled) !important;
    cursor: not-allowed;
  }
}

.field {
  margin-bottom: 10px;

  .label {
    margin-bottom: 3px;
    font-weight: 600;
  }

  .helper {
    color: var(--red);
  }

  input {
    margin: 2px 0;
    padding: 5px;
    width: 250px;
    border: 1px solid var(--primary);
    border-radius: 3px;

    &:placeholder-shown {
      font-style: italic;
    }
  }

  &.error input[type='text'] {
    border-color: var(--red);

    &:focus {
      outline-color: var(--red);
    }
  }
}

.card {
  background-color: white;
  color: var(--primary);
  padding: 20px;
  padding-bottom: 40px;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgb(0 0 0 / 20%);

  /* @media (max-width: calc(800px + (var(--viewport-padding-x) * 2))) { */
  @media (max-width: 840px) {
    & {
      margin: calc(var(--viewport-padding-x) * -1);
      border-radius: 0;
    }
  }

  .card-breadcrumbs {
    margin-bottom: 20px;
  }

  .card-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    h1 {
      flex: 1;
      font-size: 1.8rem;
      font-weight: 400;
    }

    h2 {
      flex: 1;
      font-size: 1.4rem;
      font-weight: 600;
    }
  }
}
