.Signup .form-fields {
  display: flex;
  flex-direction: column;
}

.Signup .form-field {
  margin: 2px 0;
  padding: 5px;
  width: 200px;
}

.Signup .actions {
  margin-top: 20px;
}

.Signup .footer {
  margin-top: 20px;
}
