.Header {
  display: flex;
  background-color: var(--darkblue);
  height: 48px;
  color: white;
  padding: 0;
  padding-left: 30px;
  padding-right: calc(30px - 100vw + 100%);
}

.Header .app-menu-toggler {
  display: none;
}

.Header h1 {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 5px 0;
  margin-right: 15px;
}

.Header .nav {
  display: flex;
}

@media (max-width: 600px) {
  .Header .app-menu-toggler {
    display: initial;
    padding-right: 6px;
  }

  .Header .nav {
    display: none;
  }
}

.Header .link {
  display: flex;
  align-items: center;
  color: inherit;
  font-size: 1.3rem;
}

.Header .link:hover {
  text-decoration: none;
  border-top: 3px solid transparent;
  border-bottom: 3px solid white;
}

.Header .nav .link + .link {
  margin-left: 30px;
}

.Header button.link {
  background-color: transparent;
  border: none;
}

.Header .session {
  display: flex;
  margin-left: auto;
}

.Header .session .account-menu-toggler {
  margin-right: -12px;
}

.Header .session .avatar {
  width: 24px;
  height: 24px;
  background-color: white;
  color: var(--darkblue);
}
