.Header {
  display: flex;
  background-color: var(--darkblue);
  height: 48px;
  color: white;
}

.Header h1 {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 5px 20px;
  margin-right: 30px;
}

.Header .nav {
  display: flex;
  font-size: 1.4rem;
}

.Header .nav a {
  display: flex;
  align-items: center;
  color: inherit;
}

.Header .nav a:hover {
  text-decoration: none;
  border-top: 3px solid transparent;
  border-bottom: 3px solid white;
}

.Header .nav a + a {
  margin-left: 30px;
}
