.Header {
  display: flex;
  background-color: var(--darkblue);
  height: 48px;
  color: white;
  padding: 0 20px;
}

.Header h1 {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 5px 0;
  margin-right: 50px;
}

.Header .nav {
  display: flex;
  flex: 1;
}

.Header .link {
  display: flex;
  align-items: center;
  color: inherit;
  font-size: 1.4rem;
}

.Header .link:hover {
  text-decoration: none;
  border-top: 3px solid transparent;
  border-bottom: 3px solid white;
}

.Header .nav .link + .link {
  margin-left: 30px;
}

.Header button.link {
  background-color: transparent;
  border: none;
}

.Header .session {
  display: flex;
}
