.QuestionLink {
  a {
    display: block;
    padding: 20px;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      color: white;
      border-color: var(--blue);
      background-color: var(--blue);
      text-decoration: none;
    }
  }
}
