.AppLayout {
  background-color: #eee;
  height: 100%;
}

.AppLayout article {
  padding-top: 20px;
  padding-bottom: 20px;
}

.AppLayout ul {
  list-style: none;
}

.AppLayout a {
  color: var(--darkblue);
  text-decoration: none;
}

.AppLayout a:hover {
  text-decoration: underline;
}

.AppLayout input {
  color: inherit;
}

.AppLayout input:placeholder-shown {
  font-style: italic;
}

.AppLayout .button {
  background-color: white;
  color: var(--primary);
  border: 1px solid var(--primary);
  height: 27px;
  margin: 2px 0;
  padding: 5px;
  border-radius: 5px;
}

.AppLayout .button:hover {
  border-color: var(--primary);
  color: white;
  background-color: var(--primary);
}

.AppLayout .button.large {
  height: 40px;
  font-size: 1rem;
  padding: 10px;
}

.AppLayout .button.blue {
  border-color: var(--blue);
  color: var(--blue);
}

.AppLayout .button.blue:hover {
  border-color: var(--blue);
  color: white;
  background-color: var(--blue);
}

.AppLayout .button.red {
  border-color: var(--red);
  color: var(--red);
}

.AppLayout .button.red:hover {
  border-color: var(--red);
  color: white;
  background-color: var(--red);
}

.AppLayout .button[disabled],
.AppLayout .button[disabled]:hover {
  background-color: white !important;
  color: var(--disabled) !important;
  border-color: var(--disabled) !important;
}

.AppLayout .page-container {
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 870px) {
  .AppLayout .page-container {
    max-width: calc(100vw - 40px);
  }
}

.AppLayout .card {
  background-color: white;
  color: var(--primary);
  padding: 20px;
  padding-bottom: 40px;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgb(0 0 0 / 0.2);
}

.AppLayout .card-breadcrumbs {
  margin-bottom: 20px;
}

.AppLayout .card-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.AppLayout .card-header h1 {
  flex: 1;
  font-size: 1.8rem;
  font-weight: 400;
}
