.Login .form-fields {
  display: flex;
  flex-direction: column;
  max-width: 210px;
}

.Login .form-field {
  margin: 2px 0;
  padding: 5px;
}

.Login .actions {
  margin-top: 20px;
}

.Login .footer {
  margin-top: 20px;
}
